.interview-end {
  height: calc(100vh - var(--header-height));
  width: 100%;
  color: $dark-gray;
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 40px;
  padding: 20px;
  max-width: $narrow-breakpoint;

  @include from-mobile-layout {
    padding: 40px;
  }

  .goodbye {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: max-content;
    padding-block-start: 20px;

    @include from-mobile-layout {
      justify-content: flex-start;
      flex-direction: row;
      // height: 100%;
    }

    .content {
      width: 100%;
      flex-grow: 2;
      display: flex;
      flex-direction: column;
      gap: 0.75em;
      text-align: center;

      // height: 100%;
      @include from-mobile-layout {
        text-align: unset;
        width: 10%;
      }

      h1 {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 0.5em;
        color: $cta;

        @include from-mobile-layout {
          font-size: 40px;
        }
      }

      p {
        font-size: 16px;
        line-height: 1.5em;

        @include from-mobile-layout {
          font-size: 20px;
        }
      }
    }

    > img {
      width: 40%;
      flex-grow: 1;

      @include from-mobile-layout {
        width: 0;
      }
    }
  }

  .upload {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: space-around;
    flex-direction: column;
    height: max-content;
    padding-block-start: 30px;
    width: 100%;
    height: 100%;
    gap: 50px;

    @include from-mobile-layout {
      width: 50vw;
    }

    img {
      height: 30vh;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      width: 100%;

      .progress-bar {
        width: 100%;
        height: 40px;
        position: relative;
        background-color: gray;
        border-radius: 8px;
        overflow: hidden;

        span {
          color: #fff;
          z-index: 1; //
          position: absolute;
          top: 50%;
          inset-inline-start: 50%;
          transform: translateX(calc(-50% * var(--dir))) translateY(-50%);
        }

        .inner {
          position: absolute;
          inset-inline-start: 0;
          inset-inline-end: 0;
          bottom: 0;
          height: 100%;
          background: $cta;
          transition: width 1.5s;
        }
      }

      .uploading-msg {
        text-align: center;
        font-size: 14px;
        line-height: 20px;

        p:first-child {
          font-weight: 700;
        }
      }
    }
  }

  .no-network-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    border-radius: 4px;
    width: calc(100vw - 32px);
    background-color: #fff;
    position: fixed;
    inset-block-start: 50%;
    inset-inline-start: 50%;
    transform: translateX(calc(-50% * var(--dir))) translateY(-50%);
    border: 1px solid $light-gray;
    padding: 30px 20px;

    .head-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 12px;
    }

    i {
      font-size: 2rem;
    }

    p {
      text-align: center;
      line-height: 1.625rem;

      &::first-letter {
        text-transform: capitalize;
      }
    }

    @include from-mobile-layout {
      width: 450px;
    }
  }

  .animation-started {
    &.confetti-animation {
      top: 100vh;
    }
  }
  .confetti-animation {
    position: fixed;
    inset: -10px 0 0 0;
    z-index: 505;
    transition: top 5s ease-in;

    span {
      width: 10px;
      height: 30px;
      position: absolute;
      z-index: 5;
      bottom: 100%;
      animation: down var(--speed) var(--delay) ease-in forwards;

      @for $i from 0 to 100 {
        &:nth-child(#{$i + 1}) {
          --rotate-x: rotatex(#{random(360) + deg});
          --rotate-y: rotatey(#{random(360) + deg});
          --rotate-z: rotatez(#{random(360) + deg});
          --speed: #{(calc(calc(random(200) + 150) / 100) + s)};
          --delay: #{(calc(calc(random(50) + 50) / 100) + s)};
          --translate-z: translatez(#{random(300) * -1 + px});

          background: hsl(random(360), 100%, 50%);
          inset-inline-start: $i + vw;
        }
      }

      @keyframes down {
        from {
          bottom: calc(100% + 100px);
          transform: perspective(1000px) var(--translate-z) rotatex(0deg) rotatey(0deg) rotatez(0deg);
          opacity: 1;
        }
        to {
          bottom: calc(0% - 100px);
          transform: perspective(1000px) var(--translate-z) var(--rotate-x) var(--rotate-y) var(--rotate-z);
          opacity: 0;
        }
      }
    }
  }
}
