.action-list {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  .actions {
    // background-color: darkblue;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;

    section {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
