.quest-countdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 8px;
  background-color: $background-gray;
  
  @include from-narrow-layout{
    flex-grow: 1;
  }
  
  .counter {
    background: $cta;
    width: 10vmin;
    height: 10vmin;
    border-radius: 50%;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    font-size: 18px;
  }

  .quest-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75em;
  }
}
