.table-list {
  display: flex;
  flex-direction: column;
  height: 0;
  flex-grow: 1;
  // padding-block-start: 20px;

  .list-header {
    font-weight: 700;
    font-size: 0.875rem;
    display: none;

    @include from-normal-layout {
      display: grid;
      gap: 20px;
      // padding: 15px 0;
      // padding: 1em;
      padding: 20px;
      margin-inline-end: 40px;
      // border-bottom: 1px solid $lightest-gray;
    }

    .sortable {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 10px;
      pointer-events: all;

      &.disabled {
        pointer-events: none;
        cursor: auto;
      }

      &.asc {
        .sort-arrows {
          &::before {
            border-bottom-color: $dark-gray;
          }
        }
      }

      &.desc {
        .sort-arrows {
          &::after {
            border-top-color: $dark-gray;
          }
        }
      }

      .sort-arrows {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2px;

        cursor: pointer;
        position: relative;

        &::before,
        &::after {
          border: 5px solid transparent;
          content: '';
          display: block;
        }

        &::before {
          border-bottom-color: rgb(205, 204, 204);
        }

        &::after {
          border-top-color: rgb(205, 204, 204);
        }
      }
    }
  }

  .list-content {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    font-size: 0.875rem;
    padding-bottom: 10px;

    > section:not(.card) {
      display: grid;
      align-items: center;
      border-bottom: 1px solid $lightest-gray;
      cursor: pointer;
      // padding: 0.5em 0;
      padding: 20px 15px;
      background: #fff;

      > *:not(.status):not(.actions) {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow-x: hidden;
      }
    }

    @include from-narrow-layout {
      padding-inline-end: calc(40px - 0.5rem);
      gap: 0.25em;

      > section:not(.card) {
        padding: 20px;
        border-radius: 4px;

        &:hover {
          background-color: $lightest-gray;
        }
      }
    }
  }

  &.cards {
    .list-header {
      display: none;
    }

    .list-content {
      padding-top: 5px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
      gap: 20px;
      overflow-y: initial;
    }
  }
}
