.cv-upload {
  display: flex;
  flex-direction: column;
  gap: 15px;

  h4 {
    font-size: 20px;
  }

  small {
    font-size: 14px;
    color: $light-gray;
  }

  .validation {
    color: red;
    font-size: 12px;
  }

  .drag-drop {
    border: 1px transparent solid;
    padding-top: 5px;

    &.close {
      align-self: flex-start;
      button {
        background: #fff;
        color: $dark-gray;
        border: 1px solid $dark-gray;
        border-radius: 4px;
        // padding: 0.5em 1em;
        padding: 5px;

        .uppy-DragDrop-inner {
          svg {
            display: none;
          }
        }

        &:hover {
          background: $dark-gray;
          color: #fff;
          border: 1px solid transparent;
        }
      }
    }

    .draggeble & {
      color: grey;
      display: inline-block;
      background-color: rgb(234, 231, 231);
      width: 100%;
      border: 1px dashed gray;
      border-radius: 4px;
    }
  }

  .progress-container {
    position: relative;
    align-self: flex-start;

    .success {
      border: 1px solid $light-gray;
      display: flex;
      border-radius: 4px;
      overflow: hidden;
      height: 60px;

      .left {
        background: $red;
        width: 50px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .right {
        display: flex;
        background: #fff;
        padding: 10px 15px 10px 20px;
        gap: 20px;
        overflow: hidden;

        .file-info {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 5px;

          p {
            font-size: 13px;
            color: $dark-gray;

            &:first-child {
              font-weight: 700;
              width: 180px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }

            &:last-child {
              color: $light-gray;
            }
          }
        }

        button {
          display: grid;
          align-content: center;

          i {
            font-size: 16px;
            font-weight: 600;
          }
        }
      }
    }

    .progress {
      height: 60px;
      position: absolute;
      background-color: $cta;
      top: 0;
      opacity: 0.2;
      pointer-events: none;
    }
  }
}
