.application.embeded-preview {
   background-color: white;
   max-width: 500px;
   padding: 40px;
   border-radius: 8px;
   border: 1px solid $lightest-gray;

   .content {
      padding-bottom: unset;
   }
}