.page-loading-screen {
  background: rgba(255, 255, 255, 0.8);
  position: fixed;
  width: 70px;
  height: 70px;
  bottom: 10vh;
  inset-inline-start: 50%;
  transform: translateX(calc(-50% * var(--dir)));
  z-index: 20;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

// Small Menu more icon ...
.more-icon {
  user-select: none;
  display: grid;
  place-content: center;
  cursor: pointer;
  width: 36px;
  height: 36px;
  font-size: 20px;
  transition: background-color 0.2s;
  border-radius: 50%;

  &:hover,
  &.focused,
  &:focus {
    background-color: $light-gray;
  }
}

@mixin spinner($color: $light-gray, $size: 50px) {
  display: inline-block;
  // position: relative;
  width: $size;
  height: $size;

  div {
    position: absolute;
    width: $size;
    height: $size;
    border: 4px solid $color;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: $color transparent transparent transparent;

    &:nth-child(1) {
      animation-delay: -0.35s;
    }

    &:nth-child(2) {
      animation-delay: -0.25s;
    }

    &:nth-child(3) {
      animation-delay: -0.1s;
    }
  }
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.notification-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  inset-inline-end: 0.5rem;
  height: 50px;
  width: calc(100% - 1rem);
  transform: translateX(calc(150% * var(--dir)));
  opacity: 1;
  font-size: 16px;
  background-color: #fff;
  box-shadow: 0 0 0 1px $lightest-gray, 0px 0px 2em -0.5em #0003;
  border-radius: 4px;
  display: flex;
  align-items: center;
  border-inline-start: 3px solid transparent;
  gap: 50px;
  color: $dark-gray;
  z-index: 1300;
  transition: transform 200ms;

  @include from-mini-layout {
    width: 400px;
    inset-inline-end: 20px;
  }

  .notification-txt {
    white-space: nowrap;
    text-transform: lowercase;
    font-weight: 700;

    &::first-letter {
      text-transform: capitalize;
    }
  }

  button {
    position: absolute;
    inset-inline-end: calc(20px - 0.5em);
    font-size: 1em;
    border-radius: 50%;
    padding: 0.5em;

    &:hover {
      background: $lightest-gray;
    }

    &.undo-btn {
      &:hover {
        background: transparent;
      }
    }
  }

  &.on {
    transform: translateX(calc(0% * var(--dir)));
  }

  i {
    position: absolute;
    top: 50%;
    inset-inline-start: 20px;
    transform: translateY(-50%);
  }

  svg {
    margin-inline-end: 4px;
  }

  &.success {
    border-color: #48d665;

    i {
      color: #48d665;
    }
  }

  &.fail {
    border-color: rgb(233, 118, 118);

    i {
      color: rgb(233, 118, 118);
    }
  }

  &.warning {
    border-color: #ffbe21;

    i {
      color: #ffbe21;
    }
  }
}

.modal-wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  top: 0;
  inset-inline-start: 0;
  z-index: 1300;
  animation: fadein 0.25s ease-in-out;

  .modal-content {
    background: white;
    overflow: auto;
    box-shadow: 0 0 30px -20px rgba(0, 0, 0, 0.6);
    position: relative;
    animation: scalein 0.3s ease-in-out;
    border-radius: 5px;

    & > * {
      max-width: 100%;
    }

    .dismiss {
      background-color: transparent;
      font-size: 32px;
      width: 44px;
      position: absolute;
      top: 5px;
      inset-inline-end: 5px;
      transition: 0.4s all;
    }
  }
}

.confirmation-modal {
  background: #fff;
  position: fixed;
  z-index: 205;
  top: 50%;
  inset-inline-start: 50%;
  transform: translateX(calc(-50% * var(--dir))) translateY(-50%);
  box-shadow: 0 0 20px -10px rgba($dark-gray, 0.5);
  display: flex;
  flex-direction: column;
  width: 600px;
  max-width: 100vw;

  .confirmation-dialogue {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 15px;

    > i {
      display: none;
      font-size: 2.5em;
    }

    > div {
      gap: 15px;
      display: flex;
      flex-direction: column;
    }
  }

  p:first-of-type {
    font-weight: 700;
    font-size: 1.2em;
  }

  > .btns {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    padding: 15px;
    border-top: 1px solid #e3e3e3;

    > button {
      padding: 0.8em;
      border-radius: 4px;

      &[data-ans='no'] {
        flex-grow: 1;
        border: 1px solid $dark-gray;
        background: $dark-gray;
        color: #fff;
      }

      background: $cta;
      color: #fff;
    }
  }

  @include from-mobile-layout {
    border-radius: 4px;

    .confirmation-dialogue {
      padding: 30px;

      i {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    > .btns {
      button {
        padding: 0.5em 0.8em;

        &[data-ans='no'] {
          flex-grow: unset;
        }
      }
    }
  }
}

@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em,
      -3em 0 0 -1em, -2em -2em 0 0;
  }

  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em,
      -2em -2em 0 -1em;
  }

  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em,
      -2em -2em 0 -1em;
  }

  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em,
      -3em 0em 0 -1em, -2em -2em 0 -1em;
  }

  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0,
      -3em 0em 0 -1em, -2em -2em 0 -1em;
  }

  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0,
      -2em -2em 0 -1em;
  }

  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0,
      -3em 0em 0 0.2em, -2em -2em 0 0;
  }

  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0,
      -2em -2em 0 0.2em;
  }
}

@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }

  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff,
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }

  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7),
      2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff,
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff,
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}

.loader-wrapper {
  position: fixed;
  inset-inline-start: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  top: $mobile-navbar-height;

  &.local {
    position: static;
  }

  @include from-mobile-layout {
    top: var(--header-height);
  }

  // .loader {
  //   $size: 120px;
  //   $time: 3s;

  //   $small: 45%;
  //   $large: 100%;
  //   $left: 0%;
  //   $right: 55%;
  //   $top: 0%;
  //   $bottom-small: 71%;
  //   $bottom-large: 35.8%;

  //   position: relative;
  //   height: $size;
  //   width: $size * 0.88;
  //   transform: translateY(-50%);

  //   svg {
  //     position: absolute;

  //     &:nth-child(1) {
  //       fill: #d8e2dc;
  //       animation: loader-1 $time infinite;

  //       @keyframes loader-1 {

  //         0%,
  //         15%,
  //         100% {
  //           width: $large;
  //           top: $top;
  //           left: $left;
  //         }

  //         25%,
  //         40% {
  //           width: $small;
  //           top: $top;
  //           left: $left;
  //         }

  //         50%,
  //         65% {
  //           width: 0;
  //           top: $top;
  //           left: $left;
  //         }

  //         75%,
  //         90% {
  //           width: 0;
  //           top: $top;
  //           left: $left;
  //         }
  //       }
  //     }

  //     &:nth-child(2) {
  //       fill: #ffe5d9;
  //       animation: loader-2 $time infinite;

  //       @keyframes loader-2 {

  //         0%,
  //         15%,
  //         100% {
  //           width: $small;
  //           top: $bottom-small;
  //           left: $left;
  //         }

  //         25%,
  //         40% {
  //           width: 0;
  //           top: 100%;
  //           left: $left;
  //         }

  //         50%,
  //         65% {
  //           width: $small;
  //           top: $bottom-small;
  //           left: $left;
  //         }

  //         75%,
  //         90% {
  //           width: $large;
  //           top: $bottom-large;
  //           left: $left;
  //         }
  //       }
  //     }

  //     &:nth-child(3) {
  //       fill: #ffcad4;
  //       animation: loader-3 $time infinite;

  //       @keyframes loader-3 {

  //         0%,
  //         15%,
  //         100% {
  //           width: $small;
  //           top: $bottom-small;
  //           left: $right;
  //         }

  //         25%,
  //         40% {
  //           width: $small;
  //           top: $top;
  //           left: $right;
  //         }

  //         50%,
  //         65% {
  //           width: $large;
  //           top: $top;
  //           left: $left;
  //         }

  //         75%,
  //         90% {
  //           width: $small;
  //           top: $top;
  //           left: $left;
  //         }
  //       }
  //     }

  //     &:nth-child(4) {
  //       fill: #c5d5e4;
  //       animation: loader-4 $time infinite;

  //       @keyframes loader-4 {

  //         0%,
  //         15% {
  //           width: 0;
  //           top: $bottom-large;
  //           left: $left;
  //         }

  //         25%,
  //         40% {
  //           width: $large;
  //           top: $bottom-large;
  //           left: $left;
  //         }

  //         50%,
  //         65% {
  //           width: $small;
  //           top: $bottom-small;
  //           left: $right;
  //         }

  //         75%,
  //         90% {
  //           width: $small;
  //           top: $top;
  //           left: $right;
  //           direction: rtl;
  //         }

  //         100% {
  //           width: 0;
  //           top: $top;
  //           left: 100%;
  //         }
  //       }
  //     }
  //   }
  // }

  .loader {
    direction: ltr !important;
    position: relative;
    transform: scale(0.4);

    .left-wheel-wrapper {
      position: absolute;
      inset-inline-start: 0;
      transform: translatey(-65%) translatex(-20%);

      .wheel {
        animation: rotate-wheel 2s linear infinite;
        transform-box: fill-box;
        transform-origin: center;

        .main {
          fill: $cta;
        }
      }
    }

    .right-wheel-wrapper {
      position: absolute;
      inset-inline-end: 0;
      transform: translatey(-70%) translatex(-30%);

      .wheel {
        animation: rotate-wheel 2s linear infinite;
        transform-box: fill-box;
        transform-origin: center;

        .main {
          fill: $cta;
        }
      }
    }

    .camera {
      .camera-body {
        fill: $cta;
        // fill: $dark-gray;
      }

      .camera-lens {
        fill: $cta;
        // fill: $dark-gray;
      }
    }

    @keyframes rotate-wheel {
      from {
        transform: rotate(0deg);
      }

      to {
        transform: rotate(360deg);
      }
    }
  }
}

[data-tooltip] {
  $speed: 0.2s;
  $delay: 0s;
  position: relative;
  cursor: pointer;

  &::before {
    content: attr(data-tooltip);
    display: none;
    position: absolute;
    padding: 0.25em 0.45em;
    max-width: 300px;
    width: max-content;
    white-space: nowrap;
    line-height: 1.5em;
    background: $dark-gray;
    color: white;
    font-family: roboto, sans-serif;
    border-radius: 2px;
    font-size: 14px;
    z-index: 100;
    pointer-events: none;
    transition: transform $speed, opacity $speed;

    @include from-mobile-layout {
      display: inline;
    }
  }

  &.left-tooltip {
    &::before {
      top: 50%;
      inset-inline-end: calc(100% + 10px);
      opacity: 0;
      transform: translateX(calc(50% * var(--dir))) translateY(-50%);
    }

    &:hover::before {
      opacity: 1;
      transform: translateY(-50%) translateX(0%);
    }
  }

  &.bottom-tooltip {
    &::before {
      // top: calc(100% + 10px);
      inset-inline-start: 50%;
      opacity: 0;
      transform: translateX(calc(-50% * var(--dir))) translateY(100%);
    }

    &:hover::before {
      opacity: 1;
      transform: translateX(calc(-50% * var(--dir))) translateY(120%);
    }
  }

  &.bottom-left-tooltip {
    &::before {
      // top: calc(100% + 10px);
      inset-inline-end: 0;
      opacity: 0;
      transform: translateX(0) translateY(100%);
    }

    &:hover::before {
      opacity: 1;
      transform: translateX(0) translateY(120%);
    }
  }

  &.info-tooltip {
    &::before {
      top: calc(100% + 10px);
      inset-inline-start: 70%;
      opacity: 0;
      transform: translateX(calc(-50% * var(--dir))) translateY(-50%);
      white-space: normal;
    }

    &:hover::before {
      opacity: 1;
      transform: translateX(calc(-50% * var(--dir))) translateY(0%);
    }
  }
}

// Progress bar

// -- mixins

@mixin draw-progress($progress, $color) {
  .pie {
    .half-circle {
      border-color: $color;
    }

    .left-side {
      transition: transform 0.3s;
      transform: rotate($progress * 3.6deg);
    }

    @if $progress <=50 {
      .right-side {
        display: none;
      }
    } @else {
      clip: rect(auto, auto, auto, auto);

      .right-side {
        transform: rotate(180deg);
      }
    }
  }
}

@mixin progressBar($size) {
  $bg-color: #34495e;
  $label-font-size: calc(#{$size} / 4.5);
  $label-font-size-redo: $size * 4;
  min-width: $size;
  max-width: $size;
  min-height: $size;
  max-height: $size;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &:nth-child(3n + 1) {
    clear: both;
  }

  .pie {
    @include size(100%, 100%);
    clip: rect(0, $size, $size, $size * 0.5);
    inset-inline-start: 0;
    position: absolute;
    top: 0;

    .half-circle {
      @include size(100%, 100%);
      border: calc(#{$size} / 10) solid #3498db;
      border-radius: 50%;
      clip: rect(0, $size * 0.5, $size, 0);
      inset-inline-start: 0;
      position: absolute;
      top: 0;
    }
  }

  .label {
    background: $bg-color;
    border-radius: 50%;
    color: #ecf0f1;
    text-align: center;
    font-weight: 700;
    cursor: default;
    font-size: $label-font-size;
    position: absolute;

    .smaller {
      color: #bdc3c7;
      font-size: 0.45em;
      padding-bottom: 20px;
      vertical-align: super;
    }
  }

  .shadow {
    min-width: $size;
    min-height: $size;
    border: calc(#{$size} / 10) solid #e3ecf3;
    border-radius: 50%;
  }

  &.style-2 {
    .label {
      background: none;
      color: $dark-gray;

      .smaller {
        color: lighten($darkest-gray, 25);
      }
    }
  }

  @for $i from 1 through 100 {
    @if $i <=50 {
      &.progress-#{$i} {
        @include draw-progress($i, $light-blue);
      }
    } @else {
      &.progress-#{$i} {
        @include draw-progress($i, #75df75);
      }
    }
  }
}

.menu-modal {
  z-index: 205;
}

// .pie-wrapper {
//   @include progressBar(120px);
// }
.pie-wrapper {
  @include progressBar(60px);
}
