@font-face {
  font-family: roboto;
  src: url('@/assets/fonts/roboto/roboto-regular.ttf');
  font-weight: normal;
}

// @font-face {
//   font-family: roboto;
//   src: url("~@/assets/fonts/roboto/roboto-medium.ttf");
//    font-weight: bolder;
// }

// @font-face {
//   font-family: roboto;
//   src: url("~@/assets/fonts/roboto/roboto-bold.ttf");
//   font-weight: bold;
// }

// @font-face {
//   font-family: roboto;
//   src: url("~@/assets/fonts/roboto/roboto-regular.ttf");
//   font-weight: normal;
// }
